*.root
*.dat
*~
*.o
*#*
*#
/scifitest_Oct2018/*.pdf
/scifitest_Oct2018/*.png


scifitest_Oct2018/occupancy_JW.cc 
scifitest_Oct2018/occupancy_orig.cc
scifitest_Oct2018/x_distrib.xml
scifitest_Oct2018/x_distrib.xml
