*.root
*.dat
*~
*.o
*#*
*#
/scifitest_Oct2018/*.pdf
/scifitest_Oct2018/*.png


scifitest_Oct2018/occupancy_JW.cc 
scifitest_Oct2018/occupancy_orig.cc
scifitest_Oct2018/x_distrib.xml
scifitest_Oct2018/x_distrib.xml
scifitest_Oct2018/pshape_fourch.cc
scifitest_Oct2018/pshape_allch_histo.cc_
scifitest_Oct2018/pshape_allch_histo.cc_orig
scifitest_Oct2018/pshape_allch_histo_new.cc_16Nov
scifitest_Oct2018/pshape_allch_histo_new.cc_pedint
